<% provide(:title, @question.name) %>
<h3><%= @question.name.html_safe %></h3>

<p><%= @question.body.html_safe %></p>
<p>
	Tags:
	<% if @question.tags.any? %>
  	  <% @question.tags.each do |tag| %>
  		<%= link_to tag.name, controller: "questions", action: "tag", tag: tag.name %>
  		<% if tag != @question.tags.last %>
  		,
  		<% end %>
	  <% end %>
	<% end %>
</p>
<% if current_user.try(:admin?) %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>