<p><%= "Dear #{@user.username}, " %></p>
<p>Thank you for applying for the position <%= @user.job.name %> at our company. We have considered your CV and very sorry to inform that you are not suitable for our requirements.</p>
<p></p>
<p>Sincere,</p>
<p>zBox team</p>
</p>