<p><%= "Dear #{@user.username}, " %></p>
<p>We have finished looking at your submission for the position at <%= @user.job.name %>.</p>
<p> 
  We are happy to make an interview directly with you on <%= @user.appointment_date - 7.hours %> with Mr.Thanh H. Tran (CTO) at Floor 4th, CyberAgent Ventures, Lu Gia Plaza, 70 Lu Gia Street, District 11, which will take approximately half an hour. If you are unable to maintain this appointment or if you have any questions, please call me sat the number below.
</p>
</p>Sincerely,</p>
<p>zBox Team</p>