<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @user.status == "cv_accepted" %>
      <%= render 'cv_accepted' %>
    <% elsif @user.status == "cv_denied" %>
      <%= render 'cv_denied' %>
    <% elsif @user.status == "submission_accepted" %>
      <%= render 'submission_accepted' %>
    <% elsif @user.status == "submission_denied" %>
      <%= render 'submission_denied' %>
    <% else %>

    <% end %>
  </body>
</html>