<% provide(:title, @job.name) %>
<h3><%= @job.name.html_safe %></h3>

<p><%= @job.body.html_safe %></p>

<p>
  <% if @job.packages.empty? %>
	No test is avaible for this job at the moment.
  <% else %>
	You can take our test for this job 
    <% @job.packages.each do |package| %>
    <%= link_to "here.", "http://" + ActionMailer::Base.default_url_options[:host] + "/packages/#{package.id}" %>
  	<% end %>
  <% end %>
</p>

