<%= form_for(@user, :url => { :action => "submit" } ) do |f| %>
  <div class="field">
    <%= f.label :submission %><br />
    <%= f.file_field :submission %>
  </div>
  <div class="action_container">
    <%= f.submit "Submit", class: "btn btn-medium btn-primary" %>
  </div>
<% end %>