<% provide(:title, 'All Jobs') %>
<% if current_user.try(:admin?) %>
  <%= link_to "Add job", "/admin/jobs/new", class: "btn btn-medium btn-primary" %>
<% end %>
<h1>All jobs</h1>

<%= render "index" %>