<% provide(:title, @job.name) %>

<h3><%= @job.name.html_safe %></h3>

<p><%= @job.body.html_safe %></p>

</p>
<% if current_user.try(:admin?) %>
  <%= link_to "Edit Job", edit_admin_job_path(@job) %>
<% end %>

