
<div class="center hero-unit">
  <h1>Welcome to zBox Labs</h1>
  <% if user_signed_in? %>
  <h2>
    Placeholder text for signed in user
  </h2>
  <% else %>
  <h2>
    You want to be a zBox member? Come join us!
  </h2>

  <%= link_to "Sign up now!", "users/sign_up", class: "btn btn-large btn-primary" %>
  <% end %>


 
</div>